
.paginator-list {
    display: flex;
    justify-content: center;
}



.page-num {
    display: flex;
    width: 30px;
    font-size: 25px;
    border: 1px solid rgb(115, 174, 176);
    border-radius: 10px;
    margin: 2px;
    font-weight: 500;



}

.page-num > a {
    margin: auto;
    
}

.page-num-selected {
    background-color: rgb(200, 220, 227);
}

.page-selected {
    margin: auto;

}