*{
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Raleway', sans-serif;
}

.logo-site{
    background: rgb(167, 200, 247);
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-logo{
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}




.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list a {
    display: block;
    padding: 19px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-list a:hover {
    color: rgb(53, 52, 52);
    font-size: 20px; 
}

.nav-btn {
    display: none;
}


@media (max-width: 800px){
    .nav-btn {
        font-size: 1.5em;
        padding-inline: 10px;
        border: none;
        background-color: rgb(136, 143, 204);
        color: rgb(73, 71, 71);
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .drop:hover .nav-list {
        display: block;
        position: relative;
        right: 1px;
        background-color: rgb(180, 205, 224);

    }
    
    .nav-btn:hover {
        background-color: rgb(49, 55, 80);

    }
    .navbar{
        justify-content: space-between;
    }

}



.right-bar {
    margin: 10px 15px 20px 20px;
    width: 252px;
    height: 100vh;
    background-color: rgb(229, 239, 241);

}

.header-search {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;

}

.search {
    margin-top: 10px;
    width: 250px;
  
}

.search-label {
    display: flex;
    /* height: 25px; */
    height: 100%;

}

.search-icon {
    width: 25px;
}

.search-input {
    padding: 0 17px;
    width: 150px;
    font-size: 16px;
   
}

.main {
    display: flex;

}

.left-bar {

    margin: 10px 15px 20px 20px;
    width: 252px;
    height: 100vh;
    background-color: rgb(156, 213, 218);

}

.product-content-list {
    margin: 10px 15px 20px 20px;
    width: 1200px;
    background-color: rgb(242, 248, 248);

}



.card {
    width: 250px;
    min-height: 200px;
    box-shadow: 1px 2px 4px rgb(151, 147, 147);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    transition: 0.3s;
    margin: 10px 10px 10px 10px;
}

.card:hover {
    box-shadow: 4px 8px 16px rgb(166, 213, 230);

    background-color: rgb(240, 240, 249);
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;

}

.card-image {
    height: 100%;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    object-fit: contain;
    transition: 0.3s;

}

.card-image:hover {
    transform: scale(1.1);
  
}

.card-top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}

/* .card-label {
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding: 4px 8px;
    background-color: rgb(217, 111, 53);
    color: aliceblue;
} */

.card-bottom {
    flex: 1 0 auto;
}

.card-prices {
    display: flex;
    margin-bottom: 10px;
    padding: 3px 10px 3px 10px;


}

.card-price {
    width: 50%;
}

.card-price::after {
    content: "₽";
    margin-left: 4px;
}

.card-price--discount {
    font-weight: 700;
    font-size: 20px;
    color: rgb(49, 42, 73);
    display: flex;
    flex-wrap: wrap-reverse;
}

.card-price--common {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card-price--discount::before {
    content: "With the price";
    font-weight: 500;
    font-size: 14px;
    color: rgb(115, 113, 113);
}


.card-title  {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.2;
    color: rgb(39, 38, 60);

}

/* .card-title:hover, .card-title:focus {
    color: rgb(85, 102, 123);
    
} */

.card-btn {
    display: block;
    font-weight: 500;
    font-size: 17px;
    color: rgb(48, 102, 45);
    background-color: white;
    padding: 7px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid;
    border-color: rgb(150, 236, 150);
    border-radius: 4px;
    transition: 0.3s;
}

.card-btn:hover {
    background-color: rgb(99, 194, 95);
    color: white;
}