*{
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Raleway', sans-serif;
}

.logo-site{
    background: rgb(167, 200, 247);
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-logo{
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}




.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list a {
    display: block;
    padding: 19px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-list a:hover {
    color: rgb(53, 52, 52);
    font-size: 20px; 
}

.nav-btn {
    display: none;
}


@media (max-width: 800px){
    .nav-btn {
        font-size: 1.5em;
        padding-inline: 10px;
        border: none;
        background-color: rgb(136, 143, 204);
        color: rgb(73, 71, 71);
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .drop:hover .nav-list {
        display: block;
        position: relative;
        right: 1px;
        background-color: rgb(180, 205, 224);

    }
    
    .nav-btn:hover {
        background-color: rgb(49, 55, 80);

    }
    .navbar{
        justify-content: space-between;
    }

}



.right-bar {
    margin: 10px 15px 20px 20px;
    width: 252px;
    height: 100vh;
    background-color: rgb(229, 239, 241);

}

.header-search {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;

}

.search {
    margin-top: 10px;
    width: 250px;
  
}

.search-label {
    display: flex;
    /* height: 25px; */
    height: 100%;

}

.search-icon {
    width: 25px;
}

.search-input {
    padding: 0 17px;
    width: 150px;
    font-size: 16px;
   
}

.main {
    display: flex;

}

.left-bar {

    margin: 10px 15px 20px 20px;
    width: 252px;
    height: 100vh;
    background-color: rgb(229, 239, 241);

}

.content-main {
    margin: 10px 15px 20px 20px;
    width: 1200px;
    background-color: rgb(50, 129, 145);

}