{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'product/css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'product/css/product-page.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'users/css/form-style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'basket/css/cart-style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>{{ title }}</title>

</head>
<body>

    <header>
        <div class="logo-site">
            <a href="#"><img class="main-logo" src="{% static 'product/images/logo.png' %}" alt="logo"></a>
        </div>
        <nav>
            <div class="navbar">
                <div class="drop">
                    <button class="nav-btn">&#9776;</button>
                    <div class="nav-list">
                            <a href ="{% url 'home' %}">Main page</a>
                        <!-- <a href ="#"></a> -->
                       
                            <a href ="{% url 'contact' %}">Contact us</a>
                            {% if request.user.is_authenticated %}
                                <a class="cart-href" href ="{% url 'basket' %}">cart</a>
                                <a class="orders" href="{% url 'orders' %}">Orders</a>

                                <a class="user-login" href ="{% url 'lk' %}">{{ user.username }}</a>
                                <a class="logout-href" href ="{% url 'logout' %}">Log out</a>
                            {% else %}
                                <a class="signup-href" href ="{% url 'register' %}">Sign Up</a>
                                <a class="login-href" href ="{% url 'login' %}">Log In</a>
                            {% endif %}
                      
                    </div>
                </div>
        
            </div>
        
        </nav>
    </header>
  

    
        {% block content %}
        {% endblock %}
    
</body>
</html>