{% extends 'product/base.html' %}
{% load static %}



{% block content %}

<!--     
    <div class="left-bar">
    </div>  -->
    <section class="cards">

        <div class="container container-cards">
            
            
            {% for p in products %}
            
            <div class="card">
                <div class="card-top">
                    <a href="{{ p.id_product.get_absolute_url }}" class="card-img">
                        {% if p.photo %}
                        <img class="card-image" src="{{ p.photo.url }}"  alt="{{p.name}}">
                        {% endif %}
                    </a>
                    <div class="card-label">
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-prices">
                        {% if p.id_product.new_price %}
                        <div class="card-price card-price--discount">          
                            {{ p.id_product.new_price }}
                        </div>
                        {% endif %}
                        <div class="card-price card-price--common">{{ p.id_product.old_price }}</div>
                    </div>
                </div>
                <a href="#" class="card-title">{{ p.id_product.name }}</a>
                <button class="card-btn">To cart</button>
            </div>
            
            {% endfor %}
            
        </div>   
            
    </section>
    <!-- <div class="right-bar">
        <div class="header-search">
            <form class="search">
                <label class="search-label">
                    <img class="search-icon" src="{% static 'product/images/search.png' %}" alt="Search">
                    <input class="search-input" type="text" placeholder="Search">
                </label>
            </form>
        </div>   
    </div> -->
    {% endblock %}