{% extends 'product/base.html' %}
{% load static %}



{% block content %}
<div class="main">
    
    <div class="left-bar">

    </div>

    <div class="content-main">

        hui

    </div>

    <div class="right-bar">
        <div class="header-search">
            <form class="search">
                <label class="search-label">
                    <img class="search-icon" src="{% static 'product/images/search.png' %}" alt="Search">
                    <input class="search-input" type="text" placeholder="Search">
                </label>
            </form>
        </div>
        
    </div>
    
    
</div>
    {% endblock %}