{% extends 'product/base.html' %}
{% load static %}
{% load basket_tags %}

{% block content %}

<section class="container">
    <div class="section-cart__header">
        <div class="container-cart">
            <h1 class="title-1">Bascket of product</h1>
        </div>
    </div>
    <div class="section-cart__body">
        <div class="container-cart">
            <section class="cart">
                <header class="cart-header">
                    <div class="cart-header__name">Name</div>
                    <div class="cart-header__count">Count</div>
                    <div class="cart-header__price">Price</div>
                </header>
                {% for p in products %}
                <section class="product-cart">
                    <div class="product-cart__img">
                        <div class="tags">
                            {% getphoto p.id_product as photo %}
                        </div>
                        <img class="image-cart-product" src = "{{ photo.photo.0.photo.url }}" alt="{{ photo.photo.0.photo.url }}">
                    </div>
                    <div class="product-cart__title">
                        {{ p.id_product.name }}
                    </div>
                    <div class="product-cart__count">


                        <div class="count">
                            <div class="count__box">
                                <div class="count__input">
                                    {{ p.quantity }}
                                </div>
                            </div>
                            <div class="count__controls">
                                <a href="{% url 'increment' p.id_product.id %}">
                                    <button type="button" class="count__up">
                                        +
                                    </button>
                                </a>
                                <a href="{% url 'decrement' p.id_product.id %}">
                                    <button class="count__down">
                                        -
                                    </button>
                                </a>
                            </div>
                        

                        </div>

                        
                    </div>
                    <div class="product-cart__price" id="price{{forloop.counter}}">
                        <script>
                            var old_price = "{{ p.id_product.old_price }}";
                            var new_price = "{{ p.id_product.new_price }}";
                            var count = "{{ p.quantity }}";
                            var total_price = 0;
                            if (new_price !== "None") {
                                total_price = count * new_price;
                            }
                            else {
                                total_price = count * old_price;
                            }
                            document.getElementById("price{{forloop.counter}}").innerHTML = total_price;
                        </script>
                    </div>
                    <div class="product-cart__controls">
                        <a href="{% url 'basket_delete' p.id_product.id %}" class="basket-delete">
                            <img class="delet-product" src="{% static 'basket/images/delete.png' %}">
                        </a>
                            
                        </form>
                    </div>
                </section>
                {% endfor %}
               
                

                <section class="product"></section>
                <footer class="cart-footer">
                    <div class="cart-footer__count" id="total-count">
                        
                    </div>
                    <div class="cart-footer__price" id="total-price">
                        <script>
                            var count = 0;
                            var total_price = 0;
                            var new_price = 0;
                            {% for p in products %}
                                count = count + {{ p.quantity}}
                                new_price = "{{ p.id_product.new_price}}"
                                if (new_price == "None")
                                    total_price = total_price + {{ p.quantity }} * {{ p.id_product.old_price }}
                                else
                                    total_price = total_price + {{ p.quantity }} * {{ p.id_product.new_price }}

                            {% endfor %}
                            document.getElementById("total-count").innerHTML = count;
                            document.getElementById("total-price").innerHTML = total_price;
                            
                        </script>
                    </div>
                    <div class="cart-footer__order">
                        <a href="{% url 'do-order' %}">Order</a>
                    </div>
                </footer>

            </section>
        </div>
    </div>
</section>


 


{% endblock %}