{% extends 'product/base.html' %}
{% load static %}

{% block content %}
<link type="text/css" href="{% static 'orders/css/orders-style.css' %}" rel="stylesheet" />

<header class="orders-header">
    <h2>Order</h2>
</header>
<div class="orders-list">
        <div class="order-card">
            <div class="orders-images-list">
                {% for p in products %}  
                    {% for k, v in photo.items %}
                    {% if k == p.id_product__name %}
                        <div class="order-images"> 
                            <img class="order-img" id="order-img" src="{{ v.url }}" alt="{{ v.url }}">
                            <p>{{ p.quantity }}</p>

                        </div>

                    {% endif %}
                    {% endfor %}   
                {% endfor %}   
                </div>
        </div>
        <div class="confirm-order">
            <div class="confirm-order__total-price">
                Total price: {{ total_price }} 
            {% comment %} </div>
            <a href="{% url 'confirm-order' %}">
                <div class="confirm-order__yes">
                    Order
                </div>
            </a> {% endcomment %}
        </div>
</div>

<form method="POST">
    {% csrf_token %}
    {% for f in form %}
    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
    {{ f }}
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    {% comment %} <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a> {% endcomment %}
    {% comment %} <a href="{% url 'social:begin' 'github' %}" class="github-login">Sign in with GitHub</a> {% endcomment %}
    <button class="form-button" type="submit">Confirm order</button>
</form>



{% endblock %}